<ion-view title="Agendamento do Pedido" id="page8" style="background-color:#78D864;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/IsJN0ZOQ6aBXPQFUtLeg_logo2.png" width="90%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="list card " id="agendamentoDoPedido-card20">
            <div class="item item-divider">Horário de Entrega</div>
            <div class="item item-body">
                <p id="agendamentoDoPedido-markdown9" style="color:#000000;text-align:center;" class=" ">No máximo
                    <strong>36hrs</strong>de adiantamento do dia de hoje, sendo entregue somente de Segunda á Sexta das
                    <strong>11hrs</strong>até as
                    <strong>16hrs</strong>contando o tempo de produção</p>
                <div class="spacer" style="width: 251px; height: 24px;"></div>
                <form id="agendamentoDoPedido-form10" class="list ">
                    <label class="item item-input " id="agendamentoDoPedido-input12" name="data">
                        <span class="input-label">Data</span>
                        <input type="date" placeholder="">
                    </label>
                    <label class="item item-input " id="agendamentoDoPedido-input13">
                        <span class="input-label">Horario</span>
                        <input type="number" placeholder="00:00">
                    </label>
                </form>
            </div>
        </div>
        <form id="agendamentoDoPedido-form11" class="list ">
            <div class="list card " id="agendamentoDoPedido-card10">
                <div class="item item-divider">Endereço de Entrega</div>
                <div class="item item-body">
                    <form id="agendamentoDoPedido-form12" class="list "></form>
                    <p id="agendamentoDoPedido-markdown10" style="color:#000000;" class=" ">
                        <strong>CEP :</strong>00000-000</p>
                    <p id="agendamentoDoPedido-markdown25" style="color:#000000;" class=" ">
                        <strong>Rua :</strong>Endereço de não sei onde, nº90</p>
                    <p id="agendamentoDoPedido-markdown30" style="color:#000000;" class=" ">
                        <strong>Bairro :</strong>Um lugar ai</p>
                    <p id="agendamentoDoPedido-markdown15" style="color:#000000;" class=" ">
                        <strong>Cidade :</strong>Piracicaba - SP</p>
                    <div class="spacer" style="width: 251px; height: 28px;"></div>
                    <div id="agendamentoDoPedido-button-bar4" class=" button-bar ">
                        <a ui-sref="menu.configuraEs" id="agendamentoDoPedido-button11" class=" button button-stable  button-block ">Alterar Endereço</a>
                    </div>
                </div>
            </div>
            <a ui-sref="menu.revisarOPedido" id="agendamentoDoPedido-button9" class=" button button-balanced  button-block ">Avançar</a>
        </form>
    </ion-content>
</ion-view>