<ion-view title="Categoria: VEGANA" id="page12" style="background-color:#78D864;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/0kK3K6oZQYOoUe7JHN3g_bg02.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="categoriaVEGANA-list19" class=" ">
            <ion-item class="item-thumbnail-left" ui-sref="menu.pGinaDoProduto">
                <img>
                <h2>Muffin de espinafre</h2>
                <p style="white-space:normal;">Muffin com massa de farinha de arroz e leite de soja e recheio de espinafre, alho-poró e tomate.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.pGinaDoProduto">
                <img>
                <h2>Cestinha de palmito e brócolis</h2>
                <p style="white-space:normal;">Salgado com massa de leite de coco e farinha com recheio de brócolis e palmito temperados com sal e orégano.</p>
            </ion-item>
        </ion-list>
        <ion-list id="categoriaVEGANA-list11" class=" "></ion-list>
    </ion-content>
</ion-view>