<ion-view title="Categoria: FITNESS" id="page6" style="background-color:#78D864;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/QEuoEbsQSeQGr8K33MoX_bg01.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="categoriaFITNESS-list18" class=" ">
            <ion-item class="item-thumbnail-left" ui-sref="menu.pGinaDoProduto">
                <img>
                <h2>Lance Natural</h2>
                <p style="white-space:normal;">Pão de forma integral, alface, cenoura ralada e frango desfiado. Não contém maionese.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.pGinaDoProduto">
                <img>
                <h2>Escondidinho de frango e batata doce</h2>
                <p style="white-space:normal;">Batata doce cozida e amassada com frango desfiado cozido e temperado com cebola, sal, alho e cheiro-verde.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.pGinaDoProduto">
                <img>
                <h2>Escondidinho de carne com batata doce</h2>
                <p style="white-space:normal;">Batata doce cozida e amassada com carne moída temperada com cebola, sal, alho e cheiro-verde.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.pGinaDoProduto">
                <img>
                <h2>Escondidinho mandioca com frango</h2>
                <p style="white-space:normal;">Mandioquinha cozida e amassada com frango desfiado temperada com cebola, sal, alho e cheiro-verde.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.pGinaDoProduto">
                <img>
                <h2>Escondidinho mandioca com carne</h2>
                <p style="white-space:normal;">Batata doce cozida e amassada com carne moída temperada com cebola, sal, alho e cheiro-verde.</p>
            </ion-item>
        </ion-list>
        <ion-list id="categoriaFITNESS-list2" class=" "></ion-list>
    </ion-content>
</ion-view>