<ion-view title="Finalizar pedido" id="page14" style="background-color:#78D864;" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <div class="list card " id="finalizarPedido-card14">
            <div class="item item-divider">Pedido Finalizado</div>
            <div class="item item-body">
                <div class="">
                    <img src="img/bl0hn2V5TGi6YxzSOvEo_logo.png" width="70%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <p id="finalizarPedido-markdown21" style="color:#000000;text-align:center;" class=" ">Muito obrigado sr.(a)
                    <strong>Usuário</strong>
                </p>
                <p id="finalizarPedido-markdown22" style="color:#000000;text-align:center;" class=" ">Esse é o número do seu
                    <strong>PEDIDO</strong>
                </p>
                <h1 id="finalizarPedido-heading5" style="color:#666666;text-align:center;" class=" ">00000</h1>
                <p id="finalizarPedido-markdown36" style="color:#000000;font-size:0px;text-align:center;" class=" ">O seu pedido será entregue no dia
                    <strong>00/00/00</strong>ás
                    <strong>x</strong>horas. Aguarde!</p>
                <a ui-sref="menu.categorias" id="finalizarPedido-button19" class=" button button-balanced button-large button-block ">Concluido</a>
            </div>
        </div>
    </ion-content>
</ion-view>