<ion-view title="Página do produto" id="page11" style="background-color:#78D864;" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="list card " id="pGinaDoProduto-card1">
            <div class="item item-divider">Nome do produto</div>
            <div class="item item-body">
                <form id="pGinaDoProduto-form5" class="list ">
                    <p id="pGinaDoProduto-markdown7" style="color:#000000;" class=" ">Ingrediente 1, Ingrediente 2, Ingrediente 3 e Ingrediente 4</p>
                    <p id="pGinaDoProduto-markdown12" style="color:#000000;text-align:center;" class=" ">Quantidade:
                        <strong>0,00 Kg</strong>| Preço:
                        <strong>R$ 00,00</strong>
                    </p>
                    <div class="spacer" style="width: 251px; height: 19px;"></div>
                </form>
                <form id="pGinaDoProduto-form21" class="list ">
                    <ion-item class="range range-positive " id="pGinaDoProduto-range1">Quantidade
                        <input type="range" value="50" min="0" max="100">
                    </ion-item>
                </form>
                <a ui-sref="menu.cesta" id="pGinaDoProduto-button7" class=" button button-balanced  button-block ">Comprar</a>
            </div>
        </div>
        <form id="pGinaDoProduto-form4" class="list "></form>
    </ion-content>
</ion-view>