<ion-view title="Categoria: SEM LACTOSE" id="page19" style="background-color:#78D864;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/5WXvtvycS9C9eonsnTTQ_semlactose1.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="categoriaSEMLACTOSE-list26" class=" ">
            <ion-item class="item-thumbnail-left" ui-sref="menu.pGinaDoProduto">
                <img>
                <h2>Produto 1</h2>
                <p>Descrição</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.pGinaDoProduto">
                <img>
                <h2>Produto 2</h2>
                <p>Descrição</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.pGinaDoProduto">
                <img>
                <h2>Produto 3</h2>
                <p>Descrição</p>
            </ion-item>
        </ion-list>
        <ion-list id="categoriaSEMLACTOSE-list27" class=" "></ion-list>
    </ion-content>
</ion-view>