<ion-view title="Login" style="background-color:#78D864;" class="bgLogin padding">
    <ion-content padding="true" scroll="true" class="has-header login">
        <div class="">
            <center><img src="img/salvadieta.svg" width="320" /></center>
        </div>
        <form class="list">
            <div class="card">
                 <label class="item item-input">
                        <input type="email" ng-model="login.email" placeholder="Login">
                 </label>
                 <label class="item item-input">
                        <input type="password" ng-model="login.password" placeholder="Senha">
                 </label>
                 
            </div>
        </form>
        
        <button ng-click="submit()" class="button button-stable button-block">Acessar</button>
    </ion-content>
</ion-view>